input.ng-invalid:focus {
	outline: none;
	border-color: red;
	box-shadow: 0 0 10px red;
}

.error {
	color: red;
}

input {
	border: 2px solid #dadada;
	border-radius: 3px;
}

input:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 5px #9ecaed;
}

